[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-color-solarized"]
	path = vimfiles/bundle/vim-color-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/jsbeautify"]
	path = vimfiles/bundle/jsbeautify
	url = https://github.com/vim-scripts/jsbeautify.git
[submodule "vimfiles/bundle/minibufexpl"]
	path = vimfiles/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/vim-css-color"]
	path = vimfiles/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vimfiles/bundle/vim-matchit"]
	path = vimfiles/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
